.titleBox {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; /* mb={1}에 해당 */
    margin-bottom: 0.3rem; /* mb={1}에 해당 */
    flex-wrap: wrap; /* flex 아이템이 줄바꿈을 허용하도록 설정 */
    justify-content: right; /* 오른쪽 정렬 */
    gap: 0.3rem; /* gap: 0.5로 설정 */
  }
  
  .titleBox > * {
    width: 48%; /* 작은 해상도에서 각 버튼의 너비를 48%로 설정하여 두 개씩 배치 */
    margin-bottom: 0.2rem; /* 작은 해상도에서 버튼 사이의 여백 추가 */
  }
  
  @media (min-width: 600px) { /* sm 이상 해상도에서 */
    .titleBox > * {
      width: auto; /* 기본 너비로 설정 */
      margin-bottom: 0; /* 큰 해상도에서는 여백 제거 */
    }
  }